.s1 {
    color:#409EFF;
}

.s2 {
    color:#67c23a;
}

.s3 {
    color:#909399;
}

.s4 {
    color:#e6a23c;
}

.s5 {
    color:#f56c6c;
}

.s6 {
    color: #5e6d82;
    background-color:#ecf5ff;
}

.s7 {
    color: #5e6d82;
    background-color:#f0f9eb;
}

.s8 {
    color: #5e6d82;
    background-color:#f4f4f5;
}

.s9 {
    color: #5e6d82;
    background-color:#fdf6ec;
}

.s10 {
    color: #5e6d82;
    background-color:#fef0f0;
}
